Source: dcc
Section: non-free/mail
Priority: extra
Maintainer: Andreas Voegele <andreas@andreasvoegele.com>
Build-Depends: debhelper (>= 9), libmilter-dev
Standards-Version: 3.7.2

Package: dcc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Suggests: spamassassin
Conflicts:
 dcc-client,
 dcc-common,
 dcc-milter,
 dcc-server,
Provides:
 dcc-client,
 dcc-common,
 dcc-milter,
 dcc-server,
Description: Distributed Checksum Clearinghouse
 The DCC or Distributed Checksum Clearinghouse is a system of thousands of
 clients and many servers collecting and counting checksums related to several
 tens of million mail messages per day. The counts can be used by SMTP servers
 and mail user agents to detect and reject or filter spam or unsolicited bulk
 mail. DCC servers exchange or "flood" common checksums. The checksums include
 values that are constant across common variations in bulk messages, including
 "personalizations."
 .
  Homepage: https://www.dcc-servers.net/dcc/
