[Unit]
Description=DCC spam filter interface daemon
After=network.target
Before=spamassassin.service
Documentation=man:dccifd(8)

[Service]
Type=forking
RuntimeDirectory=dcc
ExecStart=-/usr/lib/dcc/start-dccifd
User=dcc

[Install]
WantedBy=multi-user.target
