#!/usr/bin/make -f

PRGNAM = dcc
VERSION ?= $(shell dpkg-parsechangelog --show-field Version | cut -d - -f 1)
DOWNLOAD ?= https://www.dcc-servers.net/src/dcc/old/dcc-$(VERSION).tar.Z

%:
	dh $@ --with systemd

override_dh_auto_configure:
	env \
		FETCH_CMD=/usr/bin/wget \
		HTPASSWD=/usr/bin/htpasswd \
		NOTIFYMAILER=/usr/sbin/sendmail \
		PERL=/usr/bin/perl \
		RRDTOOL=/usr/bin/rrdtool \
	./configure \
		--bindir=/usr/bin \
		--libexecdir=/usr/lib/dcc \
		--mandir=/usr/share/man \
		--homedir=/var/lib/dcc \
		--with-cgi-bin=/usr/lib/cgi-bin/dcc \
		--with-rundir=/run/dcc \
		--disable-sys-inst \
		--with-installroot=$(PWD)/debian/dcc \
		--with-uid=dcc

override_dh_install:
	dh_install
	mv debian/dcc/var/lib/dcc/dcc_conf debian/dcc/etc/dcc/dcc_conf
	sed -i 's/^\(DCCIFD_ENABLE\)=off/\1=on/' debian/dcc/etc/dcc/dcc_conf

override_dh_systemd_enable:
	dh_systemd_enable --name=dccifd dccifd.service

get-orig-source:
	curl -L $(DOWNLOAD) | tar --strip-components=1 -xzf -
	cd .. && tar --exclude=debian -chzf $(PRGNAM)_$(VERSION).orig.tar.gz $(PRGNAM)-$(VERSION)
	sed -i "s/@DCCSUID@/$(id -u)/" homedir/fix-map.in homedir/make-dcc_conf.in
	sed -i '/^u_char grey_on;/d' srvrlib/db.c
	sed -i 's/^\(const char \*userdirs;\)/extern \1/' thrlib/cmn_defs.h
