Source: guacamole-client
Priority: optional
Maintainer: Andreas Voegele <andreas@andreasvoegele.com>
Uploaders:
 Dominik George <nik@naturalnet.de>,
 Thorsten Glaser <tg@mirbsd.org>,
Build-Depends:
 debhelper (>= 9),
 po-debconf,
 unzip,
Standards-Version: 3.9.6
Section: net
Homepage: https://guacamole.apache.org/

Package: guacamole
Architecture: all
Depends:
 guacd (>= ${source:Upstream-Version}),
 tomcat8,
 ${misc:Depends},
Recommends:
 apache2 | httpd,
Suggests:
 xrdp,
Conflicts:
 guacamole-tomcat,
Provides:
 guacamole-tomcat,
Enhances:
 xrdp,
Description: HTML5 web application for accessing remote desktops
 Guacamole is an HTML5 web application that provides access to a desktop
 environment using remote desktop protocols. A centralized server acts as a
 tunnel and proxy, allowing access to multiple desktops through a web browser.
 No plugins are needed: the client requires nothing more than a web browser
 supporting HTML5 and AJAX.
 .
 This package contains the web application itself and depends on the
 guacd proxy daemon, which allows communication with various backend
 protocols. It also configures a Tomcat instance and provides web server
 configuration for Apache.
