#!/usr/bin/make -f

PRGNAM = guacamole-client
VERSION ?= $(shell dpkg-parsechangelog --show-field Version | cut -d - -f 1)
MIRROR ?= http://ftp-stud.hs-esslingen.de/pub/Mirrors/ftp.apache.org/dist
DOWNLOAD ?= $(MIRROR)/guacamole/$(VERSION)/binary/guacamole-$(VERSION).war

%:
	dh $@ 

override_dh_install:
	dh_install

	mkdir -p debian/guacamole/usr/share/guacamole/guacamole
	unzip guacamole.war -d debian/guacamole/usr/share/guacamole/guacamole

get-orig-source:
	curl -L -o guacamole.war $(DOWNLOAD)
	cd .. && tar --exclude=debian -chzf $(PRGNAM)_$(VERSION).orig.tar.gz $(PRGNAM)-$(VERSION)
