Source: nginx-auth-saslauthd
Section: web
Priority: optional
Maintainer: Andreas Voegele <andreas@andreasvoegele.com>
Build-Depends: debhelper (>= 9.20120312), dh-systemd
Build-Depends-Indep: perl,
 libmojolicious-perl (>= 8.0),
Standards-Version: 3.9.5

Package: nginx-auth-saslauthd
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libmojolicious-perl (>= 7.27),
 sasl2-bin,
Suggests: nginx
Description: Authenticate web users with LDAP, PAM etc.
 This nginx utility verifies web users with Basic authentication and LDAP, PAM
 or other mechanisms supported by saslauthd.
