[Unit]
Description=Basic authentication with saslauthd
After=network.target

[Service]
Type=simple
User=nginx-auth
Group=www-data
RuntimeDirectory=nginx-auth
RuntimeDirectoryMode=0770
UMask=0007
ExecStart=/usr/sbin/nginx-auth-saslauthd daemon -m production -l http+unix://%%2Frun%%2Fnginx-auth%%2Fhttp.sock

[Install]
WantedBy=multi-user.target
