#!/usr/bin/make -f

PRGNAM = nginx-auth-saslauthd
VERSION ?= $(shell dpkg-parsechangelog --show-field Version | cut -d - -f 1)
DOWNLOAD ?= https://gitlab.com/voegelas/$(PRGNAM)/-/archive/$(VERSION)/$(PRGNAM)-$(VERSION).tar.gz

%:
	dh $@ --with systemd

override_dh_auto_install:
	install -d debian/$(PRGNAM)/usr/sbin
	install bin/$(PRGNAM) debian/$(PRGNAM)/usr/sbin/$(PRGNAM)
	install -d debian/$(PRGNAM)/usr/share/man/man8
	pod2man -c "System Manager's Manual" -s 8p bin/$(PRGNAM) \
		debian/$(PRGNAM)/usr/share/man/man8/$(PRGNAM).8p

override_dh_installchangelogs:
	dh_installchangelogs Changes

override_dh_installpam:
	dh_installpam --name=nginx

get-orig-source:
	curl -L $(DOWNLOAD) | tar --strip-components=1 -xzf -
	cd .. && tar --exclude=debian -chzf $(PRGNAM)_$(VERSION).orig.tar.gz $(PRGNAM)-$(VERSION)
