Source: libmojo-xmlrpc-perl
Section: perl
Priority: optional
Maintainer: Andreas Voegele <andreas@andreasvoegele.com>
Build-Depends: debhelper (>= 9.20120312)
Build-Depends-Indep: perl, libmodule-build-tiny-perl, libmojolicious-perl
Standards-Version: 3.9.5
Homepage: https://metacpan.org/release/Mojo-XMLRPC

Package: libmojo-xmlrpc-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libmojolicious-perl
Description: XMLRPC message parser/encoder using the Mojo stack
 Mojo::XMLRPC is a pure-perl XML-RPC message parser and encoder. It uses tools
 from the Mojo toolkit to do all of the work.
