#!/usr/bin/make -f

PRGNAM = libmojo-xmlrpc-perl
VERSION ?= $(shell dpkg-parsechangelog --show-field Version | cut -d - -f 1)
MIRROR ?= http://ftp-stud.hs-esslingen.de/pub/Mirrors/CPAN
DOWNLOAD ?= $(MIRROR)/authors/id/J/JB/JBERGER/Mojo-XMLRPC-$(VERSION).tar.gz

%:
	dh $@

get-orig-source:
	curl -L $(DOWNLOAD) | tar --strip-components=1 -xzf -
	cd .. && tar --exclude=debian -chzf $(PRGNAM)_$(VERSION).orig.tar.gz $(PRGNAM)-$(VERSION)
